@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    font-family: 'Inter';
    overflow-x: hidden;
}

/* Navbar */

.container-navbar{
    width: 100vw;
    height: 10vh;
    background-color: #F4F4F4;
}

.navbar{
    width: 1100px;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-navbar ul{
    display: flex;
}

.links-navbar ul li a{
    color: #3C3939;
    font-weight: 600;
    text-decoration: none;
}

.links-navbar ul li:not(:last-of-type){
    margin-right: 56px;
}

@media(max-width: 768px){
    .navbar{
        width: 100%;
    }

    .links-navbar ul li:not(:last-of-type){
        margin-right: 20px;
    }

    .links-navbar ul li:last-of-type{
        margin-right: 20px;
    }

    .logo-navbar img{
        width: 60px;
        margin-left: 10px;
    }
}

/* Header */

.container-header{
    width: 100vw;
    height: 75vh;
    background: linear-gradient(rgba(141, 27, 61, 0.8), rgba(141, 27, 61, 0.8)), url(./images/wallpaper.png);
    background-size: cover;
    background-position: center center;
}

.header{
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 768px){
    .header{
        width: 100%;
        height: 50vh;
    }

    .container-header{
        height: 50vh;
    }
}

/* Main */

.container-main{
    width: 100vw;
}

/* Grupos */

.container-grupos{
    width: 1100px;
    height: auto;
    margin: 0 auto;
}

.cards-grupos{
    display: flex;
    justify-content: space-between;
}

.title-grupos{
    display: flex;
    justify-content: center;
}

.title-grupos h3{
    color: #1F1E1E;
    margin: 40px 0;
    font-size: 2rem;
}

.card-grupo{
    width: 300px;
    height: 370px;
    background-color: #F4F4F4;
    box-shadow: 3px 3px 3px 0 rgba(60, 57, 57, 0.2);
    border-radius: 5px;
    padding: 10px 30px;
}

.title-card-grupo p{
    color: #1F1E1E;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.time-grupo{
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.time-grupo p{
    margin-left: 20px;
    font-weight: 600;
}

.setas{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.setas button{
    background-color: #F4F4F4;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 0;
    margin: 0 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.2s all ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setas button:hover{
    background-color: #e0e0e0;
}

@media(max-width: 768px){
    .container-grupos{
        width: 100%;
    }

    .cards-grupos{
        flex-direction: column;
    }

    .card-grupo{
        margin: 10px auto;
    }
}

/* Próximos Jogos */

.container-proximos-jogos{
    width: 1100px;
    height: auto;
    margin: 0 auto;
}

.title-proximos-jogos h3{
    color: #1F1E1E;
    margin: 40px 0;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
}

.cards-proximos-jogos{
    padding-bottom: 20px;
}

.card-proximo-jogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #F4F4F4;
    margin: 20px 0;
    box-shadow: 3px 3px 3px 0 rgba(60, 57, 57, 0.2);
    padding: 10px;
}

.primeiro-time, .segundo-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.primeiro-time p, .segundo-time p{
    text-align: center;
    width: 100px;
}

.data-horario{
    display: flex;
}

.data-horario p{
    color: #8D1B3D;
    font-weight: 600;
    margin: 0 15px;
}

.button-ver-todos-jogos{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button-ver-todos-jogos button{
    background-color: #eed3db;
    color: #8D1B3D;
    font-weight: 600;
    border: none;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    transition: 0.2s all ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-ver-todos-jogos button:hover{
    background-color: #d8b8c1;
}

@media(max-width: 768px){
    .container-proximos-jogos{
        width: 100%;
    }

    .card-proximo-jogo{
        width: 90%;
        margin: 20px auto;
        height: 60px;
    }

    .primeiro-time, .segundo-time{
        width: 100px;
    }

    .primeiro-time img, .segundo-time img{
        width: 40px;
    }

    .primeiro-time p, .segundo-time p{
        font-size: 0.9rem;
    }

    .data-horario p{
        font-size: 0.9rem;
        margin: 0 10px;
    }
}

/* Footer */

.container-footer{
    width: 100vw;
    min-height: 35vh;
    background-color: #8D1B3D;
}

.footer{
    width: 1100px;
    min-height: 35vh;
    display: flex;
    margin: 0 auto;
}

.redes-sociais-footer h3, .redes-sociais-footer p,
.legais-footer h3, .legais-footer p, .fifa-footer h3, .fifa-footer p{
    color: white;
}

.redes-sociais-footer h3, .legais-footer h3, .fifa-footer h3, .logo-fifa-qatar{
    margin-top: 25px;
    margin-bottom: 15px;
}

.redes-sociais-footer p, .legais-footer p, .fifa-footer p{
    margin-bottom: 10px;
}

.redes-sociais-footer, .legais-footer, .fifa-footer{
    margin-right: 100px;
}

.logo-fifa-qatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

@media(max-width: 768px){
    .footer{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .redes-sociais-footer, .legais-footer, .fifa-footer{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
}